<div class="jumbotron jumbotron">
  <div class="container">
    <h1 class="display-3">Directives NgStyle</h1>
  </div>

  <div class="ui input">
    <input type="text" name="color" value="{{color}}" #colorinput>
  </div>

  <div class="ui input">
    <input type="text" name="fontSize" value="{{fontSize}}" #fontinput>
  </div>
  <button class="ui primary button" (click)="apply(colorinput.value, fontinput.value)">
    Apply settings
  </button>
  <div [ngClass]="{borderd: false}"> hello this is the div</div>
</div>
