<!--The content below is only a placeholder and can be replaced.-->

<div class="jumbotron jumbotron">
  <div class="container">
    <h1 class="display-3">Directives NgFor</h1>
  </div>

  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of people let num = index">
        <th scope="row">{{num}}</th>
        <th scope="row">{{item.name}}</th>
        <td>{{item.age}}</td>
        <td>{{item.city}}</td>
      </tr>
    </tbody>
  </table> -->

  <div [property]="expression"> hello</div>
<router-outlet></router-outlet>
